/* You can add global styles to this file, and also import other style files */
.route-config-title {
  margin: 10px 0;
  padding: 20px;
  background-color: lightblue;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
}
